.image-background {
  background-image: url(./images/Summ...png);
  background-repeat: no-repeat;
  background-size: cover;
}

.meet-me {
  background-color: #c6d6d5;
  padding: 20px;
  border-radius: 22px;
}

.image-cropper {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lead {
  text-align: justify;
}

.contact {
  background-color: #c6d6d5;
}

.btn {
  background-color: #536470;
  border: none;
}

.btn:hover {
  background-color: #2d3540;
}

.last-info {
  background-color: #536470;
  color: white;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #c6d6d5;
}
/* .text-body-secondary:link {
  color: white;
} */
